#employer-draft {
    margin: 20px 0px 0px 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 34px 6px rgba(224,224,224,1);
    min-height: 700px;
    width: 900px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 25px;

}

#editor-buttons {
    border: 1px solid rgba(224,224,224,1);
    height: 50px;
    width: 900px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.editor-button {
    margin: 0 5px;
}

fieldset {
    border: none;
}