{% block content %}

<div>

    <h1>index.html</h1>
    <ul>
        <a href="http://127.0.0.1:8000/job/"><li>Job List</li></a>
        <a href="http://127.0.0.1:8000/job/api/1/"><li>Endpoint for individual job</li></a>
        <a href="http://127.0.0.1:8000/job/api/jobs/"><li>endpoint for all jobs</li></a>
    
        <ul>
            <a href="http://127.0.0.1:8000/user/register/"><li>Django form Register: http://127.0.0.1:8000/user/register/</li></a>
            <a href="http://127.0.0.1:8000/authenticate/users/"><li>API view Register: http://127.0.0.1:8000/authenticate/users/</li></a>
        </ul>

    
        <ul>
            <a href="http://127.0.0.1:8000/login/"><li>Django form Login: http://127.0.0.1:8000/login/</li></a>
            <a href="http://127.0.0.1:8000/token-auth/"><li>API View Login: http://127.0.0.1:8000/token-auth/</li></a>
        </ul>

    </ul>
 

</div>

{% endblock %}