*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media/
myvenv/
/node_modules
wsgi.py
/migrations
*/migrations/*
/company/migrations
/job/migrations
/custom_user/migrations
/static/nextstepapi/js/bundle.js.map
/static/nextstepapi/js/styles.css.map