@import '../base/mixins';
@import '../base/variables';

#contact-outer-wrapper {
    background: linear-gradient(#40c4bf, #406D8F);
    height: 100%;
    width: 100%;


    @media screen and (min-width: 0px) { 
        padding: 20px 0;
    }

}

#contact-inner-wrapper {

    height: 100%;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    color: $text-dark-grey;

    @media screen and (min-width: 0px) { 
        width: 90%;
        padding: 0px 15px;
    }

    @media screen and (min-width: 400px) { 
        width: 85%;
    }

    @media screen and (min-width: 500px) { 
        width: 80%;
        padding: 0px 20px;
        margin-top: 30px;
    }

    @media screen and (min-width: 600px) { 
        padding: 0px 30px;
    }

}

#contact-title {
    @include flex-column;
    height: 100px;
}

.twitter {
    color: purple;
    margin-right: 5px;    
}

#contact-details {
    margin: 50px 0;
}