#employer-wrapper {
    background-color: $neutral;  
    color: $text-dark-grey; 
    @media screen and (min-width: 0px) { 
        width: 100%;
        margin: 0 auto;
    }
}

#employer-inner-wrapper {
    @media screen and (min-width: 0px) { 
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
    }

    @media screen and (min-width: 600px) { 
        width: 90%;
        margin: 0 auto;
    }
}

#logout {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logout-button {
    color: white;
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    font-size: 16px; 
    cursor: pointer;
}

#profile-section {
    background-color: white;
    padding: 20px 50px;;
    box-sizing: border-box;
    margin: 40px auto;
    min-height: 250px;
}

#profile-section-inner {
    @media screen and (min-width: 0px) { 
        width: 90%;
        margin: 0 auto;
    }

    @media screen and (min-width: 600px) { 
        width: 80%;
    }

    @media screen and (min-width: 1000px) { 
        width: 75%;
    }
}


.profile-attribute {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin: 10px auto;
    height: 40px;

    input {
        border: 1px solid grey;
        border-radius: 5px;
        padding: 0 10px;
        width: 100%;
    }
}

.profile-section-label {
    display: flex;
    align-items: center
}

.profile-section-value {
    display: flex;

    i {
        color: purple;
    }
}

#profile-save-changes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    button {
        background-color: #71d68e;
        color: #fff;
        border-radius: 5px;
        padding: 10px 15px;
        border-style: none;
        margin: 0 auto;
    }
}


/****************************************
            COMPANIES SECTION
*****************************************/
#companies-section {
    background-color: white;
    padding: 40px 0;
    box-sizing: border-box;
}

#companies-section-inner {
    @media screen and (min-width: 0px) { 
        width: 90%;
        margin: 0 auto;
    }

    @media screen and (min-width: 400px) { 
        width: 90%;
    }

    @media screen and (min-width: 600px) { 
        width: 90%;
    }
}

/****************************************
            COMPANIES TITLE
*****************************************/

#create-new-company-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#create-new-company-title {
    display: flex;
    align-items: center
}

#create-new-company-link-container {
    display: flex;
    justify-content: flex-end
}

#create-new-company-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    background-color: $background-grey;
    height: 50px;
    width: 160px;
    font-size: 16px;
}

/****************************************
            COMPANIES TITLE
*****************************************/


.single-company {
    width: 100%;
    margin: 80px auto;
    color: white;
    padding: 30px 30px;
    box-sizing: border-box;
    background-color: $mustard;
}

.company-header {
    display: grid;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;

    @media screen and (min-width: 0px) { 
        grid-template-columns: 1fr;
        grid-template-rows: 70px 80px 80px;
    }

    @media screen and (min-width: 700px) { 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 90px;
    }

    @media screen and (min-width: 800px) { 
        grid-template-columns: 3fr 2fr 2fr;
    }

    @media screen and (min-width: 1100px) { 
        grid-template-columns: 3fr 1fr 1fr;
    }
}

.company-header-title {
    color: $text-dark-grey;
    display: flex;
    align-items: center;
   
    @media screen and (min-width: 0px) { 
        justify-content: center;
    }

    @media screen and (min-width: 700px) { 
        justify-content: flex-start;
    }
}

.button-container {
    display: flex;
   
    @media screen and (min-width: 0px) { 
        justify-content: center;
    }

    @media screen and (min-width: 700px) { 
        justify-content: flex-end;
        align-items: center
    }
    
}


.add-job-to-company-button, .view-company-button {
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    background-color: #40c4bf;
    height: 50px;
    width: 160px;
    font-size: 16px;    
}

.company-postings-title {
    height: 70px;
    display: flex;
    color: white;

    @media screen and (min-width: 0px) { 
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 700px) { 
        justify-content: flex-start;
    }
}

.single-company-job {
    background-color: white;
    margin: 5px 0;

    width: 100%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
   
    
    @media screen and (min-width: 0px) { 
        grid-template-columns: 1fr;
        height: 160px;
    }

    @media screen and (min-width: 700px) { 
        grid-template-columns: 3fr 1fr;
        height: 80px;
    }
}

.single-job-titles {
    display: flex;
    color: $text-dark-grey;

    @media screen and (min-width: 0px) { 
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 700px) { 
        justify-content: flex-start;
    }
}

.single-job-button-containers {
    display: flex;
    justify-content: center;
    align-items: center;

   a > button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 5px;
        background-color: $background-grey;
        height: 50px;
        width: 160px;
        font-size: 16px;
    }
}

.delete-company-button {
    color: white;
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    font-size: 16px;
}



#new-company-modal-company-description {
    height: 300px;
    width: 80%;
    margin: 0 auto;
}