#employer-wrapper {
    @media screen and (min-width: 300px) { 
        width: 90%;
        margin: 0 auto;
    }

    @media screen and (min-width: 600px) { 
        width: 80%;
    }

}

#logout {
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logout-button {
    color: white;
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    font-size: 16px; 
    cursor: pointer;
}


