@import '../base/mixins';
@import '../base/variables';

/***********************************************************************************

                    INDIVIDUAL JOB LISTING PAGE http://127.0.0.1:8000/job_post/18

************************************************************************************/

#job-wrapper-outer {
    background: linear-gradient(#40c4bf, #406D8F);
    height: 100%;
    width: 100%;
    padding: 30px 0;
    color: $text-dark-grey;
}

#company-details-on-job {
    @media only screen and (min-width: 0px) {  
        width: 80%;
        margin: 20px auto;
        padding: 30px;
        box-sizing: border-box;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
}

#individual-company-logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    min-height: 150px;

    img {
        max-width: 150px;
    }
}

#logo-and-links {
    @media only screen and (min-width: 700px) {  
       display: grid;
       grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: 1200px) {  
        display: grid;
        grid-template-columns: 1fr 2fr;
     }
}

#company-details-title {
    height: 60px;
    display: flex;
    align-items: center
}

.company-link-section {
    
}

.company-link-url {
    display: flex;
    color: $purple;
    align-items: center;
    height: 40px;

    i {
        color: $mustard;
        margin-right: 10px;
    }
}

#individual-company-details-container {
    margin-top: 30px;
}

/*******************************************************
                    JOB WRAPPER
********************************************************/

#job-wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
}

#job-wrapper-header {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

#job-wrapper-title {
    height: 50px;
}
#job-wrapper-slug {
    min-height: 50px;
}

#individual-job-details {
    display: grid;

    @media only screen and (min-width: 0px) {  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px;
        grid-row-gap: 30px;
        grid-auto-rows: 50px;
        margin-bottom: 30px;
    }

    @media only screen and (min-width: 800px) {  
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px;
        grid-row-gap: 30px;
        grid-auto-rows: 50px;
        margin-bottom: 30px;
    }

}

#individual-job-title {
    margin-bottom: 20px;
}