#login-wrapper {
    max-height: 600px;
 
    @media only screen and (min-width: 0px) {  
        width: 100%;
        margin: 0 auto;
    }
}

#login-form {
    background-color: #edeeef;
    max-height: 550px;
    margin: 20px auto;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 5px;
    display: block;

    @media only screen and (min-width: 0px) {  
        width: 90%;
    }

    @media only screen and (min-width: 700px) {  
        width: 550px;
    }

    #login-header {
        text-align: center;
        background-color: #5d6166;
        color: white;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    fieldset {
        border: 0px solid transparent;
        width: 80%;
        margin: 0 auto;
    }
}


#login-body {
    padding: 40px 20px;
    box-sizing: border-box;

    section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 100px;
    }
}

.login-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input-container {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.login-input {
    background-color: #dee1e5;
    border-style: none;
    height: 35px;
    width: 100%;
    outline: none;


    &:focus {
        border: 2px solid #71d68e;
    }
}

#login-submit {
    background-color: #71d68e;
    width: 140px;
    height: 40px;
    text-align: center;
    margin: 30px auto;
    display: block;
    color: white;
    border-style: none;
    padding: 3px;
    box-sizing: border-box;
}

#login-error {
    width: 80%;
    margin: 15px auto;
    border: 2px red solid;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
}