@import '../base/mixins';
@import '../base/variables';

#login-register-tabs {
    display: flex;
    width: 70%;
    margin: 20px auto;
    background-color: pink;
}

.account-tab {
    cursor: pointer;
    margin: 0 5px;
    background-color: green;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}