#register-wrapper {
    height: 700px;

    @media only screen and (min-width: px) {  
        width: 100%;
        margin: 0 auto;
    }
}

#register-form {
    background-color: #edeeef;
    min-height: 650px;
    margin: 20px auto;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 5px;
    display: block;

    @media only screen and (min-width: 0px) {  
        width: 95%;
    }

    @media only screen and (min-width: 400px) {  
        width: 90%;
    }

    @media only screen and (min-width: 700px) {  
        width: 550px;
    }

    #register-header {
        text-align: center;
        background-color: #5d6166;
        color: white;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    fieldset {
        border: 0px solid transparent;
        width: 80%;
        margin: 0 auto;
    }
}



#register-body {
    padding: 20px 20px;
    box-sizing: border-box;

    section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 70px;
    }
}

.register-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-input-container {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.register-input {
    background-color: #dee1e5;
    border-style: none;
    height: 35px;
    width: 100%;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;

    &:focus {
        border: 2px solid #71d68e;
    }
}

.input-error {
    border: 3px solid red;
}


#employee-employer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.employee-employer-choice {
    display: flex;
    align-items: center;
}


#register-submit {
    background-color: #71d68e;
    width: 140px;
    height: 40px;
    text-align: center;
    margin: 30px auto;
    display: block;
    color: white;
    border-style: none;
    padding: 3px;
    box-sizing: border-box;
}

#register-errors-container {
    border: 2px solid red;
    min-height: 30px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}
