@import '/pages/front-page';
@import '/pages/contact';
@import '/pages/job';
@import '/components/edit-job';
@import '/components/new-company';
@import '/components/edit-company';
@import '/components/new-job';
@import '/components/header';
@import '/pages/my-account';
@import '/pages/login';
@import '/pages/register';
@import '/pages/employer';
@import '/base/mixins';
@import '/base/variables';
@import '/components/company';


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

footer {
    width: 100%;
    height: 200px;
    background-color: $purple;
    color: white;  
    @include flex-column;
}

h1, h2, h3, h4, h5, p, a {
    padding: 0px;
    margin: 0px;
}

h2 {
    line-height: 40px;
}

p {
    line-height: 30px;
}

